footer {
    background-color:  maroon;
    color: aqua;
}
header {
    background-color:  maroon;
    color: aqua;
}
div{
    align-items: center ;
    text-align: center;
    /* border: 1px solid black;  */
}